openapi: 3.1.0
info:
  title: Athos External API
  version: "1.0"
  contact:
    name: Athos Support
    url: https://docs.useathos.ai
  description: |
    The Athos **External API** lets a partner integrate Athos AI roleplay and scored-call data into
    their own product. It has seven endpoints across two auth schemes:

    - **API key** (`ath_live_…`) — server-to-server, used by your backend to manage your roster of
      agencies and agents, mint sessions and read calls.
    - **Session token** (a short-lived, single-use JWT your backend mints) — used **only** by the
      browser SDK to redeem a live roleplay session.

    All responses carry an `X-Athos-Request-Id` header. Success bodies are returned **raw** (not
    wrapped). Errors use the envelope `{ "error": { "code", "message", "requestId" } }`, plus an
    optional `details` object on the errors that document one.

    > The live voice transport is hidden behind the `@useathos/sdk`. The
    > `connectionTicket`/`connectionUrl` returned by the redeem endpoint are opaque and consumed
    > only by the SDK.
servers:
  - url: https://app.useathos.ai/api/external/v1
    description: Production

tags:
  - name: Roster
    description: Create your agencies, then register and look up your agents.
  - name: Sessions
    description: Mint and redeem roleplay sessions.
  - name: Calls
    description: Read scored calls.

paths:
  /session:
    post:
      tags: [Sessions]
      summary: Mint a session token
      operationId: mintSession
      description: |
        Called by **your backend** (server-to-server). Exchanges your API key for a short-lived,
        single-use **session token** (a JWT, ~5-minute TTL) scoped to one of your **registered**
        agents. Hand the returned `token` to the browser, which passes it to
        `AthosRoleplay.create({ token, drillKey })`.

        Send **exactly one** of the agent's two ids, under the same names the agent object and
        `GET /agents` use: `platformAgentId` (the id you registered the rep under) or `agentId` (the
        Athos id registration returned as `agent.id`). Neither or both is `400 INVALID_REQUEST`; an
        id no agent of yours is registered under is `404 AGENT_NOT_FOUND`. An NPN or an email is not
        an id — use `GET /agents` to turn one into an id first. The agency is derived from the
        agent, and its platform-side id from the agency record — the body takes no agency id.

        This endpoint does **not** accept cross-origin (CORS) requests — never call it from a browser.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MintSessionRequest"
            examples:
              byYourId:
                summary: By the platformAgentId you registered
                value:
                  platformAgentId: "rep_8842"
              byAthosId:
                summary: By the Athos agent id registration returned
                value:
                  agentId: "athos_agent_bR4kQ2wZ9Lp0nH3xVq1Yt"
      responses:
        "200":
          description: A short-lived single-use session token.
          headers:
            X-Athos-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MintSessionResponse"
              examples:
                default:
                  value:
                    token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0ZW5hbnRJ…"
                    expiresAt: "2026-06-05T18:05:00.000Z"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: >-
            Authenticated but not permitted: the tenant is inactive (`TENANT_INACTIVE`), the
            caller's IP is not allowed (`IP_NOT_ALLOWED`), or the tenant's monthly usage allowance
            is spent (`TENANT_QUOTA_EXCEEDED`). The quota case issues no token and is not
            retryable — it lifts at the start of the next calendar month.
          headers:
            X-Athos-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/AgentNotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /roleplay/session:
    post:
      tags: [Sessions]
      summary: Redeem a session token (SDK only)
      operationId: redeemSession
      description: |
        Called by the **browser SDK** (`session.connect()`), not by you directly. Redeems the
        single-use session token for a connection ticket and starts the live roleplay call. Documented
        here for completeness — you should never need to call it yourself.

        This is the **only** endpoint that accepts cross-origin (CORS) requests, because the SDK runs
        in your end users' browsers. The single-use JWT is the trust boundary.
      security:
        - SessionToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RedeemSessionRequest"
            examples:
              default:
                value:
                  drillKey: "ma-full-sale"
                  difficulty: "Advanced"
      responses:
        "200":
          description: Connection details for the live session (opaque to the consumer).
          headers:
            X-Athos-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedeemSessionResponse"
        "400":
          description: >-
            A blank `drillKey` (`INVALID_REQUEST`, token unspent) or one that names no known drill
            (`DRILL_NOT_FOUND`, token spent — mint a new one).
          headers:
            X-Athos-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                blankDrillKey:
                  value:
                    error:
                      code: "INVALID_REQUEST"
                      message: "drillKey is required"
                      requestId: "req_2f8c1e94-3b6a-4d20-9a7e-1c5f0b8e2d44"
                unknownDrill:
                  value:
                    error:
                      code: "DRILL_NOT_FOUND"
                      message: "Unknown drillKey"
                      requestId: "req_2f8c1e94-3b6a-4d20-9a7e-1c5f0b8e2d44"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /calls:
    get:
      tags: [Calls]
      summary: List scored calls
      operationId: listCalls
      description: |
        Called by **your backend**. Returns **scored** calls of **one source** for your tenant,
        newest first (a `roleplay` call by when it ended, a `real_call` by when it started),
        cursor-paginated. `source` is required — `roleplay` (practice) or `real_call` (an agency's
        real calls). Scope it to one of your agencies with `agencyId`, or to one rep with
        `agentId`; the two combine by AND.

        Two filter pairs. `agencyId` / `agentId` are the **Athos** ids and are checked against your
        roster: an id that is not yours answers `404 AGENCY_NOT_FOUND` / `404 AGENT_NOT_FOUND`,
        never an empty page. `platformAgencyId` / `platformAgentId` are **your own** ids: plain
        filters that answer an empty page when nothing matches. Name each rep (and each agency) one
        way per request — both names for one is `400 INVALID_REQUEST`; neither pair is required.

        `from` and `to` filter on the call's own time, not on when it was scored: when it
        **ended** for a `roleplay` call, when it **started** for a `real_call`. Scoring finishes
        minutes after a call ends, so a call can appear inside a window you have already read past:
        when you reconcile, re-scan an overlapping window and deduplicate on `id`. The
        `call.scored` webhook is the notification; this endpoint is the history and reconciliation
        read.

        Server-to-server only (no CORS).
      security:
        - ApiKeyAuth: []
      parameters:
        - name: from
          in: query
          required: true
          description: Lower bound (inclusive) on when a `roleplay` call ended / a `real_call` started. ISO 8601.
          schema:
            type: string
            format: date-time
          example: "2026-06-01T00:00:00Z"
        - name: source
          in: query
          required: true
          description: >-
            `roleplay` (practice calls) or `real_call` (an agency's real calls). One per request;
            omitting it is `400 INVALID_REQUEST`.
          schema:
            $ref: "#/components/schemas/CallSource"
        - name: to
          in: query
          required: false
          description: Upper bound (inclusive) on when a `roleplay` call ended / a `real_call` started. ISO 8601.
          schema:
            type: string
            format: date-time
        - name: agencyId
          in: query
          required: false
          description: >-
            All calls for one of your agencies, by its Athos id (`athos_agency_…`). Checked against
            your roster: another tenant's or an unknown id is `404 AGENCY_NOT_FOUND`.
          schema:
            type: string
        - name: agentId
          in: query
          required: false
          description: >-
            All calls for one rep, by their Athos id (`athos_agent_…`). Checked against your roster:
            another tenant's or an unknown id is `404 AGENT_NOT_FOUND`. Combined with an `agencyId`
            the rep is not in, the page is empty.
          schema:
            type: string
        - name: platformAgentId
          in: query
          required: false
          description: >-
            Filter to one of your reps by the `platformAgentId` you registered them under. An unknown
            value is an empty page, never an error. Not together with `agentId`.
          schema:
            type: string
        - name: platformAgencyId
          in: query
          required: false
          description: >-
            Filter to one of your agencies by the `platformAgencyId` you registered it under. A filter
            only — an unknown value is an empty page. Not together with `agencyId`.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: >-
            Page size, 1–100 (default 50). A value out of range or not an integer is
            `400 INVALID_REQUEST` — it is not clamped.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          required: false
          description: Opaque pagination token from a previous response's `nextCursor`.
          schema:
            type: string
      responses:
        "200":
          description: A page of scored calls.
          headers:
            X-Athos-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCallsResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ScopeNotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /calls/{callId}:
    get:
      tags: [Calls]
      summary: Get call detail
      operationId: getCall
      description: |
        Called by **your backend**. Returns the full scored detail for one call of either source,
        including the speaker-labelled `transcript`, the `score` object and a short-lived
        `audioUrl` for the recording. Look up by the public `id` (`athos_call_…`) returned in the
        list response, the webhook `callId`, or the SDK `ended` event.

        A call belonging to a different tenant returns `404 CALL_NOT_FOUND` (existence never leaks
        across tenants). Server-to-server only (no CORS).
      security:
        - ApiKeyAuth: []
      parameters:
        - name: callId
          in: path
          required: true
          description: The public call id (`athos_call_…`).
          schema:
            type: string
          example: "athos_call_GZ1DjOkZv_VEPoE-CJ8mp"
      responses:
        "200":
          description: The full call detail.
          headers:
            X-Athos-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /agencies:
    post:
      tags: [Roster]
      summary: Create or update an agency
      operationId: upsertAgency
      description: |
        Called by **your backend**. Creates an agency under your own `platformAgencyId`, or — if
        one of your agencies already carries that id — renames it. Both fields are required, and
        this is the **first roster call** for every agency: `POST /agents` adds reps to an agency
        that already exists and never creates one.

        `201` when the agency was created, `200` when an existing one was updated; the body is
        the same `Agency` object either way, so a repeat POST is a safe way to keep the name in
        sync. Two concurrent first POSTs for one `platformAgencyId` resolve to one agency. Ids
        are scoped to your account — another partner's agencies are invisible, so there is no
        `404` on this endpoint.

        Server-to-server only (no CORS).
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertAgencyRequest"
            example:
              platformAgencyId: "acme-7731"
              name: "Acme Senior Solutions"
      responses:
        "201":
          description: The agency was created.
          headers:
            X-Athos-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agency"
        "200":
          description: An agency of yours already carried that `platformAgencyId`; its `name` is updated.
          headers:
            X-Athos-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agency"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalError"

  /agents:
    post:
      tags: [Roster]
      summary: Register an agent
      operationId: registerAgent
      description: |
        Called by **your backend**. Registers a rep with a name, at least one handle — `npn`,
        `email` or your own `platformAgentId` — and the agency they belong to, named by
        **exactly one** of `platformAgencyId` (your id, the one you created the agency with) or
        `agencyId` (the Athos id `POST /agencies` returned). Both records come back.

        The agency must already exist: registration never creates one. Neither agency field is
        `400 INVALID_REQUEST` (create it first with `POST /agencies`), both is `400`, and an id
        that is not one of your agencies is `404 AGENCY_NOT_FOUND`.

        A rep already registered under any handle you sent answers `409 AGENT_ALREADY_EXISTS`,
        with the existing ids in `error.details`, rather than silently returning them.

        Server-to-server only (no CORS).
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterAgentRequest"
            examples:
              byPlatformAgencyId:
                summary: Into the agency by your own id
                value:
                  firstName: "Dana"
                  lastName: "Reyes"
                  email: "dana@acme.test"
                  platformAgentId: "rep_8842"
                  platformAgencyId: "acme-7731"
              byAgencyId:
                summary: Into the agency by its Athos id
                value:
                  firstName: "Sam"
                  lastName: "Ortiz"
                  npn: "20224801"
                  agencyId: "athos_agency_V1StGXR8Z5jdHi6B-myT"
      responses:
        "201":
          description: The agent, and the agency they belong to.
          headers:
            X-Athos-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterAgentResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/AgencyNotFound"
        "409":
          $ref: "#/components/responses/AgentAlreadyExists"
        "500":
          $ref: "#/components/responses/InternalError"
    get:
      tags: [Roster]
      summary: Look up agents
      operationId: listAgents
      description: |
        Called by **your backend**. The "do you have this person?" call: filter by exactly one handle —
        `agentId`, `platformAgentId`, `npn` or `email` — and get that agent back, or an empty `data`
        when nobody matches (**never a 404**). More than one handle is `400 INVALID_REQUEST`. With
        `agencyId` alone it lists that agency's agents; with no filter at all it lists your whole
        roster. `agencyId` combines with a handle by AND.

        Paged exactly like `GET /calls`: pass `limit` and the opaque `cursor` you were last given,
        stop when `nextCursor` is `null`. Server-to-server only (no CORS).
      security:
        - ApiKeyAuth: []
      parameters:
        - name: agentId
          in: query
          required: false
          description: The Athos agent id (`athos_agent_…`) returned at registration.
          schema:
            type: string
        - name: platformAgentId
          in: query
          required: false
          description: Your own id for the rep, as registered.
          schema:
            type: string
        - name: npn
          in: query
          required: false
          description: The rep's NPN. Non-digits are stripped before matching; what is left must be 4–10 digits or the request is `400 INVALID_REQUEST`.
          schema:
            type: string
        - name: email
          in: query
          required: false
          description: The rep's email. Matched case-insensitively.
          schema:
            type: string
        - name: agencyId
          in: query
          required: false
          description: Restrict to one of your agencies. Another tenant's id answers `404 AGENCY_NOT_FOUND`.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: >-
            Page size, 1–100 (default 50). A value out of range or not an integer is
            `400 INVALID_REQUEST` — it is not clamped.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          required: false
          description: Opaque pagination token from a previous response's `nextCursor`.
          schema:
            type: string
      responses:
        "200":
          description: The matching agents — possibly none.
          headers:
            X-Athos-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAgentsResponse"
        "400":
          $ref: "#/components/responses/InvalidRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/AgencyNotFound"
        "500":
          $ref: "#/components/responses/InternalError"

webhooks:
  call.scored:
    post:
      tags: [Calls]
      summary: call.scored — a call reached its outcome
      operationId: callScoredWebhook
      # Outbound: no auth scheme applies — the X-Athos-Signature HMAC is the trust boundary.
      security: []
      description: |
        Sent by **Athos to your registered HTTPS URL** when a call reaches its outcome — scored
        (`success: true`) or not (`success: false`). Fires once per call, for practice calls and for an
        agency's real calls alike, with the same body. The body is deliberately thin: it names the
        call; fetch the score and transcript with `GET /calls/{callId}` (only when `success` is true —
        a call that did not score is not readable).

        Verify `X-Athos-Signature` over the **raw request body** before trusting the event, answer
        `2xx` within 10 seconds, and deduplicate on `X-Athos-Webhook-Id`: a failed delivery is retried
        **once, about 5 minutes later**, with the same id and the same body, then dropped —
        reconcile by polling `GET /calls`.
      parameters:
        - name: X-Athos-Signature
          in: header
          required: true
          description: >-
            `t=<unix-seconds>,v1=<hex>` where `v1 = HMAC-SHA256(your whsec_ secret, "<t>.<raw body>")`.
            Reject a `t` more than 5 minutes from now.
          schema:
            type: string
          example: "t=1780682954,v1=3a8f1c…e92"
        - name: X-Athos-Webhook-Id
          in: header
          required: true
          description: Stable across the retry — your idempotency key.
          schema:
            type: string
          example: "wh_2c7e9a04-…"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CallScoredEvent"
            examples:
              scored:
                summary: The call scored
                value:
                  event: "call.scored"
                  success: true
                  callId: "athos_call_GZ1DjOkZv_VEPoE-CJ8mp"
                  source: "roleplay"
                  agentId: "athos_agent_bR4kQ2wZ9Lp0nH3xVq1Yt"
                  agencyId: "athos_agency_V1StGXR8Z5jdHi6B-myT"
                  platformAgentId: "rep_8842"
                  platformAgencyId: "acme-7731"
                  occurredAt: "2026-06-05T18:09:14.000Z"
                  requestId: "req_b1f0c2d4-7a1e-4c3b-9f2d-0e8a6b5c4d3e"
              notScored:
                summary: The call could not be scored
                value:
                  event: "call.scored"
                  success: false
                  callId: "athos_call_GZ1DjOkZv_VEPoE-CJ8mp"
                  source: "roleplay"
                  agentId: "athos_agent_bR4kQ2wZ9Lp0nH3xVq1Yt"
                  agencyId: "athos_agency_V1StGXR8Z5jdHi6B-myT"
                  platformAgentId: "rep_8842"
                  platformAgencyId: "acme-7731"
                  occurredAt: "2026-06-05T18:09:14.000Z"
                  requestId: "req_b1f0c2d4-7a1e-4c3b-9f2d-0e8a6b5c4d3e"
                  reason: "SCORING_INCOMPLETE"
                  reasonMessage: "Athos did not finish processing this call."
      responses:
        "2XX":
          description: >-
            Acknowledged. Any other status, or no answer within 10 seconds, counts as a failed
            delivery.

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: >
        Your API key as a bearer token: `Authorization: Bearer ath_live_…`. Issued by Athos
        (shown once). Server-to-server only — never expose it to a browser.
    SessionToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        The short-lived, single-use session token from `POST /session`, sent by the SDK as
        `Authorization: Bearer <token>`.

  headers:
    RequestId:
      description: Unique id for this request; quote it in support tickets.
      schema:
        type: string
        example: "req_2f8c1e94-3b6a-4d20-9a7e-1c5f0b8e2d44"

  responses:
    InternalError:
      description: >-
        An unexpected error on the Athos side. The standard error envelope is returned with the code
        `INTERNAL_ERROR` — quote the `requestId` when you contact Athos.
      headers:
        X-Athos-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            internalError:
              value:
                error:
                  code: "INTERNAL_ERROR"
                  message: "Internal server error"
                  requestId: "req_2f8c1e94-3b6a-4d20-9a7e-1c5f0b8e2d44"
    InvalidRequest:
      description: The request was malformed (validation, bad cursor, unknown drill).
      headers:
        X-Athos-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            invalidRequest:
              value:
                error:
                  code: "INVALID_REQUEST"
                  message: "Provide agentId or platformAgentId"
                  requestId: "req_2f8c1e94-3b6a-4d20-9a7e-1c5f0b8e2d44"
    Unauthorized:
      description: Authentication failed (bad/revoked key, or invalid/expired/used token).
      headers:
        X-Athos-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            invalidApiKey:
              value:
                error:
                  code: "INVALID_API_KEY"
                  message: "Invalid API key"
                  requestId: "req_2f8c1e94-3b6a-4d20-9a7e-1c5f0b8e2d44"
    Forbidden:
      description: Authenticated but not permitted — `TENANT_INACTIVE`, or `IP_NOT_ALLOWED` when an IP allowlist is configured.
      headers:
        X-Athos-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServiceUnavailable:
      description: >-
        No persona is available for the drill right now — the only 503 (an infrastructure failure is
        `500 INTERNAL_ERROR`). Transient, but the attempt consumes the session token — mint a new one
        instead of replaying the same request.
      headers:
        X-Athos-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            serviceUnavailable:
              value:
                error:
                  code: "SERVICE_UNAVAILABLE"
                  message: "No persona is available for this drill right now. Mint a new session token and try again."
                  requestId: "req_2f8c1e94-3b6a-4d20-9a7e-1c5f0b8e2d44"
    NotFound:
      description: No such call for this tenant.
      headers:
        X-Athos-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            callNotFound:
              value:
                error:
                  code: "CALL_NOT_FOUND"
                  message: "Call not found"
                  requestId: "req_2f8c1e94-3b6a-4d20-9a7e-1c5f0b8e2d44"

    AgencyNotFound:
      description: No such agency for this tenant (also returned for another tenant's agency).
      headers:
        X-Athos-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            agencyNotFound:
              value:
                error:
                  code: "AGENCY_NOT_FOUND"
                  message: "Agency not found"
                  requestId: "req_2f8c1e94-3b6a-4d20-9a7e-1c5f0b8e2d44"
    ScopeNotFound:
      description: >-
        The `agencyId` or `agentId` you scoped by is not one of yours (unknown, or another
        tenant's). Never an empty page — that would read as "no calls".
      headers:
        X-Athos-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            agencyNotFound:
              value:
                error:
                  code: "AGENCY_NOT_FOUND"
                  message: "Agency not found"
                  requestId: "req_2f8c1e94-3b6a-4d20-9a7e-1c5f0b8e2d44"
            agentNotFound:
              value:
                error:
                  code: "AGENT_NOT_FOUND"
                  message: "No agent is registered under that id"
                  requestId: "req_2f8c1e94-3b6a-4d20-9a7e-1c5f0b8e2d44"
    AgentNotFound:
      description: >-
        No agent of yours is registered under that id. The mint takes an id only — your
        `platformAgentId` or the Athos `agent.id` — so an NPN or an email address lands here even when a
        rep holds it; use `GET /agents` to resolve a handle to an id first.
      headers:
        X-Athos-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            agentNotFound:
              value:
                error:
                  code: "AGENT_NOT_FOUND"
                  message: "No agent is registered under that id"
                  requestId: "req_2f8c1e94-3b6a-4d20-9a7e-1c5f0b8e2d44"
    AgentAlreadyExists:
      description: >-
        A rep is already registered under one of the handles you sent. `details` carries the existing
        agent's ids and which handle matched, so a retried create resolves in one call.
      headers:
        X-Athos-Request-Id:
          $ref: "#/components/headers/RequestId"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            agentAlreadyExists:
              value:
                error:
                  code: "AGENT_ALREADY_EXISTS"
                  message: "An agent with that email is already registered"
                  requestId: "req_2f8c1e94-3b6a-4d20-9a7e-1c5f0b8e2d44"
                  details:
                    agentId: "athos_agent_bR4kQ2wZ9Lp0nH3xVq1Yt"
                    agencyId: "athos_agency_V1StGXR8Z5jdHi6B-myT"
                    matchedOn: "email"

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, requestId]
          properties:
            code:
              $ref: "#/components/schemas/ErrorCode"
            message:
              type: string
              description: Human-readable. Not machine-parsable — branch on `code`, not `message`.
            requestId:
              type: string
            details:
              type: object
              additionalProperties: true
              description: >-
                Machine-readable extras, present only on the errors that document one (today:
                `AGENT_ALREADY_EXISTS`).

    ErrorCode:
      type: string
      description: The Athos error taxonomy returned by the REST API.
      enum:
        - INVALID_API_KEY
        - API_KEY_REVOKED
        - INVALID_TOKEN
        - TOKEN_EXPIRED
        - TOKEN_ALREADY_USED
        - IP_NOT_ALLOWED
        - TENANT_INACTIVE
        - TENANT_QUOTA_EXCEEDED
        - INVALID_REQUEST
        - DRILL_NOT_FOUND
        - CALL_NOT_FOUND
        - AGENT_NOT_FOUND
        - AGENT_ALREADY_EXISTS
        - AGENCY_NOT_FOUND
        - SERVICE_UNAVAILABLE
        - INTERNAL_ERROR

    CallScoredEvent:
      type: object
      description: >-
        The `call.scored` webhook body. Exactly these keys on a scored call; `reason` and
        `reasonMessage` are added only when `success` is `false`. Never carries a score or a
        transcript.
      required:
        [event, success, callId, source, agentId, agencyId, platformAgentId, platformAgencyId, occurredAt, requestId]
      properties:
        event:
          type: string
          enum: [call.scored]
          description: Always `call.scored` in v1.
        success:
          type: boolean
          description: >-
            `true` when Athos scored the call — fetch it with `GET /calls/{callId}`. `false` when it
            could not be scored: the call is not readable, and `reason` says why.
        callId:
          type: string
          description: Public call id (`athos_call_…`).
        source:
          $ref: "#/components/schemas/CallSource"
        agentId:
          type: string
          description: The Athos id of the rep who took the call (`athos_agent_…`).
        agencyId:
          type: string
          description: The Athos id of their agency (`athos_agency_…`).
        platformAgentId:
          type: [string, "null"]
          description: The id you registered that rep under, or `null` — join on `agentId` then.
        platformAgencyId:
          type: [string, "null"]
          description: The id you registered that agency under, or `null` — join on `agencyId` then.
        occurredAt:
          type: string
          format: date-time
          description: When the outcome was reached.
        requestId:
          type: string
          description: A delivery support id (`req_…`) — quote it to Athos if a delivery looks wrong.
        reason:
          type: string
          description: >-
            Only when `success` is `false`. A stable machine code; the list is append-only, so branch
            on the codes you know and log the rest. Today: `SCORING_INCOMPLETE`.
          examples: ["SCORING_INCOMPLETE"]
        reasonMessage:
          type: string
          description: Only when `success` is `false`. Human-readable; log it, don't parse it.

    CallSource:
      type: string
      enum: [roleplay, real_call]
      description: >
        The call source. `roleplay` is a practice call run through the SDK; `real_call` is a real
        call ingested from an agency's dialer once Athos has switched that agency on.

    MintSessionRequest:
      type: object
      description: >-
        Exactly one of `agentId` or `platformAgentId`. Neither or both is `400 INVALID_REQUEST`;
        `null` is treated as omitted.
      oneOf:
        - required: [agentId]
        - required: [platformAgentId]
      properties:
        agentId:
          type: string
          minLength: 1
          description: The Athos agent id registration returned as `agent.id`.
        platformAgentId:
          type: string
          minLength: 1
          description: The id you registered the rep under. An NPN or an email is not an id.

    MintSessionResponse:
      type: object
      required: [token, expiresAt]
      properties:
        token:
          type: string
          description: The single-use session token (JWT). Pass to `AthosRoleplay.create({ token })`.
        expiresAt:
          type: string
          format: date-time
          description: When the token expires (~5 minutes). Mint it at the moment the rep clicks "start".

    RedeemSessionRequest:
      type: object
      required: [drillKey]
      properties:
        drillKey:
          type: string
          description: >-
            The drill to practice, e.g. `ma-full-sale` (Medicare Advantage — full enrollment),
            `ma-t65`, `fe-closing`, `hi-crosssell`. Twenty-one drills across Medicare Advantage,
            Medicare Supplement, Final Expense, under-65 health, Hospital Indemnity and Critical
            Illness. The catalog is append-only and deliberately not an enum, so a newly added key
            works without regenerating your client. See the Drills reference for the catalog.
          examples: ["ma-full-sale", "ma-t65", "fe-closing", "hi-crosssell"]
        filters:
          type: object
          description: >-
            Best-effort persona filters. A filter that matches no persona is dropped and an
            unfiltered persona is served, so a filter never fails the call. Only a drill with no
            available persona at all fails, as `503 SERVICE_UNAVAILABLE` — a transient condition,
            but the attempt consumes the session token, so recovering means minting a new session
            token rather than replaying the same request.
          properties:
            state:
              type: string
              description: Narrow the persona pool to a US state (e.g. "CA").
            category:
              type: string
              description: Reserved for future use; accepted but not applied in v1.
        difficulty:
          type: string
          enum: [Beginner, Advanced, Elite]
          default: Advanced
          description: Persona difficulty. Defaults to Advanced.

    RedeemSessionResponse:
      type: object
      required: [connectionTicket, connectionUrl, sessionId, callId, persona]
      properties:
        connectionTicket:
          type: string
          description: Opaque transport credential, consumed only by the SDK.
        connectionUrl:
          type: string
          description: Opaque transport URL, consumed only by the SDK.
        sessionId:
          type: string
          description: SDK session lifecycle id (`ext_…`).
        callId:
          type: string
          description: Stable public call id (`athos_call_…`) for later lookups, webhooks, and `ended`.
        persona:
          type: object
          required: [name]
          properties:
            name:
              type: string

    SlimCall:
      type: object
      description: >-
        The list-row shape (no `score`, no transcript). Every key is always present; the
        `platform*` ids and `drillKey` are `null` when there is no value. All timestamps are ISO
        8601 in UTC.
      required:
        [
          id,
          source,
          agencyId,
          agentId,
          platformAgentId,
          platformAgencyId,
          drillKey,
          startedAt,
          endedAt,
          durationSec,
          scoredAt,
        ]
      properties:
        id:
          type: string
          description: Public call id (`athos_call_…`). Never the internal database id.
        source:
          allOf:
            - $ref: "#/components/schemas/CallSource"
          description: >-
            `roleplay` (a practice call) or `real_call` (a real call). Both sources share this
            shape; a list page holds one of them.
        agencyId:
          type: string
          description: The Athos id of the agency this call belongs to (`athos_agency_…`). Always present.
        agentId:
          type: string
          description: The Athos id of the rep who took the call (`athos_agent_…`). Always present.
        platformAgentId:
          type: [string, "null"]
          description: >-
            The id you registered that rep under, or `null` if you didn't register one — join on
            `agentId` in that case.
        platformAgencyId:
          type: [string, "null"]
          description: The id you registered that agency under, or `null`.
        drillKey:
          type: [string, "null"]
          description: The drill key the call practiced (e.g. `ma-full-sale`). `null` on a `real_call`.
        startedAt:
          type: string
          format: date-time
          description: When the call started. The `from` / `to` window and ordering axis for a `real_call`.
        endedAt:
          type: string
          format: date-time
          description: >-
            When the call ended — the `from` / `to` window and ordering axis for a `roleplay` call.
            On a `real_call` it is derived as `startedAt` + `durationSec`.
        durationSec:
          type: integer
          description: Call length in whole seconds.
        scoredAt:
          type: string
          format: date-time
          description: When scoring finished. Always present — only scored calls are returned.

    TranscriptTurn:
      type: object
      additionalProperties: true
      required: [role, content]
      description: One turn of the call transcript.
      properties:
        role:
          type: string
          enum: [agent, beneficiary]
          description: >
            Who spoke. `agent` is the human rep being graded; `beneficiary` is the customer — the AI
            persona on a `roleplay` call, the real person on the line on a `real_call`.
        content:
          type: string
          description: What was said on this turn.
        startTime:
          type: number
          description: >
            Optional. Start of the turn, in seconds from the beginning of the call. Present on
            `real_call` rows, not on roleplay calls.
        endTime:
          type: number
          description: >
            Optional. End of the turn, in seconds from the beginning of the call. Present on
            `real_call` rows, not on roleplay calls.

    CallDetail:
      description: >-
        One shape for both sources: `source` says whether it is a practice or a real call, and
        everything else reads the same way.
      allOf:
        - $ref: "#/components/schemas/SlimCall"
        - type: object
          required: [status, transcript, score, audioUrl, audioUrlExpiresAt, waveform, createdAt, updatedAt]
          properties:
            status:
              type: string
              enum: [scored]
              description: Always `scored` — only scored calls are readable.
            transcript:
              type: array
              description: >
                The call transcript, as a flat list of turns in the order they were spoken.
              items:
                $ref: "#/components/schemas/TranscriptTurn"
            score:
              $ref: "#/components/schemas/Score"
            audioUrl:
              type: [string, "null"]
              description: >
                A short-lived signed link to Athos's own archived recording (about an hour; the exact
                expiry is `audioUrlExpiresAt`), or `null` when there is no playable recording. Play
                it now; never store or share it — fetch the call again for a fresh one. On a
                `real_call` it is never the dialer's own URL.
            audioUrlExpiresAt:
              type: [string, "null"]
              format: date-time
              description: When `audioUrl` stops working. `null` exactly when `audioUrl` is `null`.
            waveform:
              description: Reserved; always `null`.
              type: [object, "null"]
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

    Score:
      type: object
      additionalProperties: true
      required: [overallScore, summary, feedback]
      description: |
        The scored result of a call, practice or real. `overallScore`, `summary` and `feedback` are
        always present; `compliancePercent` and `complianceScorecard` are optional.
        `additionalProperties` is `true` because keys can be added: read the fields you know and
        don't assume these are the only ones.
      properties:
        overallScore:
          type: number
          description: >-
            Overall call performance, 0–100 (higher is better); on a `real_call` the scale runs
            60–100. `0` means no headline score could be produced.
        summary:
          type: string
          description: >-
            Short natural-language summary of the call. Always present, but **may be an empty
            string** when Athos could not produce one — a very short call, or an analysis step that
            did not complete — even though the call itself scored.
        feedback:
          type: string
          description: >-
            Coaching feedback for the rep. Always present, but **may be an empty string** on the
            same calls as `summary`.
        compliancePercent:
          type: number
          description: >
            The call's compliance result, 0–100 (higher is better) — **the** compliance number for
            the call. It is already a percentage, so it is comparable across calls whichever
            scorecard graded them: the default Medicare rubric or an agency's own. **Optional** —
            present whenever the call was assessed for compliance, and **absent, not null**, when it
            was not.
        complianceScorecard:
          type: object
          additionalProperties: true
          description: >
            The **default** Medicare compliance rubric's section-by-section review of the call: the
            graded items themselves, each with its own per-item detail, and **no total**. Read
            `compliancePercent` for the call's compliance number. **Optional** — the conditions that
            follow describe that rubric's detail: on practice calls present only on the two Medicare
            Advantage enrollment drills (`ma-full-sale`, `ma-t65`) when the call ran at least five
            minutes; on a `real_call` present when the call was assessed against that rubric. The
            key is absent, not null, when there is none — including for an agency graded by its
            **own** compliance scorecard, whose calls carry `compliancePercent` with no
            `complianceScorecard`, because this blob is the default rubric's detail and that rubric
            did not run. Section contents are graded content and may gain items over time.
      example:
        overallScore: 82
        summary: "Prospect asked about Medicare options; the agent built rapport but rushed the close."
        feedback: "Lead with a clear greeting and one discovery question; slow down before presenting the plan."
        compliancePercent: 85
        complianceScorecard:
          requiredCallOpening:
            statedNameAndAgency:
              yesNo: "yes"
              score: 5
              explanation: "The agent gave their name and the agency in the first ten seconds."
            statedCallIsRecorded:
              yesNo: "yes"
              score: 3
              explanation: "The agent said the call was recorded before asking any questions."
          scopeOfAppointment:
            confirmedProductsToDiscuss:
              yesNo: "no"
              explanation: "The agent moved into the plan comparison without confirming the scope on file."

    ListCallsResponse:
      type: object
      required: [data, nextCursor]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/SlimCall"
        nextCursor:
          type: [string, "null"]
          description: Pass as `cursor` to fetch the next page. `null` on the last page.

    PlatformSuppliedId:
      type: string
      minLength: 1
      maxLength: 200
      description: >-
        Your own id for the record. Must not begin with `athos_agent_` or `athos_agency_` — those
        are Athos ids. Each is unique within your account: a `platformAgentId` already registered
        is `409 AGENT_ALREADY_EXISTS`; a `platformAgencyId` you already created **updates** that
        agency on `POST /agencies` and **joins** it on `POST /agents`.

    Agent:
      type: object
      required: [id, firstName, lastName, email, npn, platformAgentId, agencyId, createdAt]
      properties:
        id:
          type: string
          description: The Athos agent id (`athos_agent_…`). Store it.
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: [string, "null"]
          description: Lowercased. `null` when the rep was registered without one.
        npn:
          type: [string, "null"]
          description: Digits only, 4–10 of them. `null` when the rep was registered without one.
        platformAgentId:
          type: [string, "null"]
          description: Your own id for the rep. `null` when the rep was registered without one.
        agencyId:
          type: string
          description: The Athos id (`athos_agency_…`) of the agency this agent belongs to.
        createdAt:
          type: string
          format: date-time

    Agency:
      type: object
      required: [id, name, platformAgencyId, createdAt]
      properties:
        id:
          type: string
          description: The Athos agency id (`athos_agency_…`). Store it.
        name:
          type: string
          description: The name you gave it on `POST /agencies`. Rename it by POSTing again with the same `platformAgencyId`.
        platformAgencyId:
          type: [string, "null"]
          description: >-
            Your own id for the agency, as sent to `POST /agencies`. `null` only on an agency
            created before this endpoint existed.
        createdAt:
          type: string
          format: date-time

    RegisterAgentRequest:
      type: object
      required: [firstName, lastName]
      description: >-
        At least one of `npn`, `email` or `platformAgentId` is required, and **exactly one** of
        `agencyId` or `platformAgencyId` — neither or both is `400 INVALID_REQUEST`. For every
        optional field, send it or omit it — `null` is treated as omitted. Leading and trailing
        whitespace is removed from every string field before validation and storage.
      oneOf:
        - required: [agencyId]
        - required: [platformAgencyId]
      properties:
        firstName:
          type: string
          minLength: 1
          maxLength: 100
        lastName:
          type: string
          minLength: 1
          maxLength: 100
        email:
          type: string
          format: email
          description: Stored lowercased.
        npn:
          type: string
          description: Non-digits are stripped first; what is left must be 4–10 digits.
        platformAgentId:
          $ref: "#/components/schemas/PlatformSuppliedId"
        agencyId:
          type: string
          minLength: 1
          maxLength: 200
          description: >-
            The agency's Athos id (`athos_agency_…`), as `POST /agencies` returned it. Not one of
            yours is `404 AGENCY_NOT_FOUND`. Not together with `platformAgencyId`.
        platformAgencyId:
          allOf:
            - $ref: "#/components/schemas/PlatformSuppliedId"
          description: >-
            Your own id for the agency, as you created it with `POST /agencies`. An id you have
            not created is `404 AGENCY_NOT_FOUND` — the agent is never placed in a new agency.
            Not together with `agencyId`.

    RegisterAgentResponse:
      type: object
      required: [agent, agency]
      properties:
        agent:
          $ref: "#/components/schemas/Agent"
        agency:
          $ref: "#/components/schemas/Agency"

    ListAgentsResponse:
      type: object
      required: [data, nextCursor]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Agent"
        nextCursor:
          type: [string, "null"]
          description: Pass as `cursor` to fetch the next page. `null` on the last page.

    UpsertAgencyRequest:
      type: object
      required: [platformAgencyId, name]
      description: >-
        Both fields are required; `null` is treated as omitted (and therefore missing). Leading
        and trailing whitespace is removed from both before validation and storage.
      properties:
        platformAgencyId:
          allOf:
            - $ref: "#/components/schemas/PlatformSuppliedId"
          description: >-
            Your own id for the agency — the key. The same value creates the agency on the first
            POST and updates it on every later one.
        name:
          type: string
          minLength: 1
          maxLength: 200
          description: The agency's display name. Athos staff see it too, so make it human-readable.
